/**
 * 原子性 css
 */
.padding-top-10 {
  padding-top: 10px;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.flex-grow {
  flex-grow: 1;
}
.text-color-white {
  color: #fff;
}
.text-color-grey {
  color: #d3d3d3;
}
.text-color-success {
  color: #67C23A;
}
.text-color-danger {
  color: #F56C6C;
}
.text-color-regular {
  color: #606266;
}
.text-color-secondary {
  color: #909399;
}
.text-color-placeholder {
  color: #C0C4CC;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}